+b('section').page404
    +e.container
        +e.img(src='images/svg/404.svg')
        +e.title.p1 К сожалению, страница не найдена. Вернитесь на главную страницу
        +btn({title:"ВЕРНУТЬСЯ НА ГЛАВНУЮ",mod:"",href:"/"})