+b('section').banner
    +e.banner-image
        +object_fit({src:"media/banners/banner-about.jpg",lazy:true})
        +e.image-content
            +e.H1.title О КОМПАНИИ
    +e.text-wrapper
        +e.P.text.p2b Стиль создают детали, и сотрудники интернет-магазина сумок ShopRukzak знают об это не понаслышке. На сайте представлены оригинальные аксессуары от таких брендов, как Frenzo, JohnCarew, Kawaii Factory, Lakestone, Long River, Ray Button. Каталог регулярно пополняется новыми моделями, поэтому даже самые взыскательные покупатели смогут подобрать не только модельные сумки, но и спортивные рюкзаки или деловые портфели.