+b('section').banner-small
    +e.content
        +e.H3.title Модные сумки и рюкзаки - это отличный подарок себе и близким!
        +e.P.text.p2 Презент оценят как почитатели высокого качества, так и любители респектабельности и изысканного стиля. Натуральная кожа, утончённый дизайн и качественная фурнитура – это основные акценты, которые присущи моделям, представленным в нашем каталоге.
        +btn({title:"Перейти в каталог",href:"catalog.html",mod:"_white"})