+b.brand-page-block
    +e.col._content
        +e.H2.title ASHWOOD
        +e.P.text.p3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor.
    +e.col._logo
        +object_fit({src:"media/brands/ashwood.jpg",mod:"_contain",lazy:true})