-
    catalog = [
            {
                category:"123",
                gallery:[
                    {
                        href:"#1",
                        id:"1",
                        img:"ashwood",
                        preview:"rectangle",
                        name:"Ashwood Leather Harvey",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:1500,
                        labels:[{
                            title:"Новинка",
                            mod:"_new"
                        }]
                    },
                    {
                        href:"#2",
                        id:"2",
                        img:"ashwood",
                        preview:"rectangle2",
                        name:"Ashwood Leather Harvey Ashwood Leather",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:1350,
                        old_price:1500,
                        labels:[
                            {
                                title:"Новинка",
                                mod:"_new"
                            },{
                                title:"Хит",
                                mod:"_hit"
                            }
                        ]
                    },{
                        id:"1",
                        href:"#3",
                        img:"ashwood",
                        preview:"rectangle",
                        name:"Ashwood Leather Harvey2",
                        price:768
                    },
                    {
                        id:"2",
                        href:"#4",
                        img:"ashwood",
                        preview:"rectangle2",
                        name:"Ashwood Leather Harvey",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:999999,
                        old_price:999999,
                        labels:[{
                            title:"Новинка",
                            mod:"_new"
                        }]
                    }
                ]
            },{
                category:"123",
                gallery:[
                    {
                        href:"#1",
                        id:"1",
                        img:"ashwood",
                        preview:"rectangle",
                        name:"Ashwood Leather Harvey",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:1500,
                        labels:[{
                            title:"Новинка",
                            mod:"_new"
                        }]
                    },
                    {
                        href:"#2",
                        id:"2",
                        img:"ashwood",
                        preview:"rectangle2",
                        name:"Ashwood Leather Harvey Ashwood Leather",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:1350,
                        old_price:1500,
                        labels:[
                            {
                                title:"Новинка",
                                mod:"_new"
                            },{
                                title:"Хит",
                                mod:"_hit"
                            }
                        ]
                    },{
                        id:"1",
                        href:"#3",
                        img:"ashwood",
                        preview:"rectangle",
                        name:"Ashwood Leather Harvey2",
                        price:768
                    },
                    {
                        id:"2",
                        href:"#4",
                        img:"ashwood",
                        preview:"rectangle2",
                        name:"Ashwood Leather Harvey",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:999999,
                        old_price:999999,
                        labels:[{
                            title:"Новинка",
                            mod:"_new"
                        }]
                    }
                ]
            },{
                category:"123",
                gallery:[
                    {
                        href:"#1",
                        id:"1",
                        img:"ashwood",
                        preview:"rectangle",
                        name:"Ashwood Leather Harvey",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:1500,
                        labels:[{
                            title:"Новинка",
                            mod:"_new"
                        }]
                    },
                    {
                        href:"#2",
                        id:"2",
                        img:"ashwood",
                        preview:"rectangle2",
                        name:"Ashwood Leather Harvey Ashwood Leather",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:1350,
                        old_price:1500,
                        labels:[
                            {
                                title:"Новинка",
                                mod:"_new"
                            },{
                                title:"Хит",
                                mod:"_hit"
                            }
                        ]
                    },{
                        id:"1",
                        href:"#3",
                        img:"ashwood",
                        preview:"rectangle",
                        name:"Ashwood Leather Harvey2",
                        price:768
                    },
                    {
                        id:"2",
                        href:"#4",
                        img:"ashwood",
                        preview:"rectangle2",
                        name:"Ashwood Leather Harvey",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:999999,
                        old_price:999999,
                        labels:[{
                            title:"Новинка",
                            mod:"_new"
                        }]
                    }
                ]
            },{
                category:"123",
                gallery:[
                    {
                        href:"#1",
                        id:"1",
                        img:"ashwood",
                        preview:"rectangle",
                        name:"Ashwood Leather Harvey",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:1500,
                        labels:[{
                            title:"Новинка",
                            mod:"_new"
                        }]
                    },
                    {
                        href:"#2",
                        id:"2",
                        img:"ashwood",
                        preview:"rectangle2",
                        name:"Ashwood Leather Harvey Ashwood Leather",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:1350,
                        old_price:1500,
                        labels:[
                            {
                                title:"Новинка",
                                mod:"_new"
                            },{
                                title:"Хит",
                                mod:"_hit"
                            }
                        ]
                    },{
                        id:"1",
                        href:"#3",
                        img:"ashwood",
                        preview:"rectangle",
                        name:"Ashwood Leather Harvey2",
                        price:768
                    },
                    {
                        id:"2",
                        href:"#4",
                        img:"ashwood",
                        preview:"rectangle2",
                        name:"Ashwood Leather Harvey",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:999999,
                        old_price:999999,
                        labels:[{
                            title:"Новинка",
                            mod:"_new"
                        }]
                    }
                ]
            },{
                category:"123",
                gallery:[
                    {
                        href:"#1",
                        id:"1",
                        img:"ashwood",
                        preview:"rectangle",
                        name:"Ashwood Leather Harvey",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:1500,
                        labels:[{
                            title:"Новинка",
                            mod:"_new"
                        }]
                    },
                    {
                        href:"#2",
                        id:"2",
                        img:"ashwood",
                        preview:"rectangle2",
                        name:"Ashwood Leather Harvey Ashwood Leather",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:1350,
                        old_price:1500,
                        labels:[
                            {
                                title:"Новинка",
                                mod:"_new"
                            },{
                                title:"Хит",
                                mod:"_hit"
                            }
                        ]
                    },{
                        id:"1",
                        href:"#3",
                        img:"ashwood",
                        preview:"rectangle",
                        name:"Ashwood Leather Harvey2",
                        price:768
                    },
                    {
                        id:"2",
                        href:"#4",
                        img:"ashwood",
                        preview:"rectangle2",
                        name:"Ashwood Leather Harvey",
                        desc:"Рюкзак Ashwood Leather 1663 Chestnut",
                        price:999999,
                        old_price:999999,
                        labels:[{
                            title:"Новинка",
                            mod:"_new"
                        }]
                    }
                ]
            }
        ]
        
+b.catalog-list(class=full ? "_full" : "")
    each item in catalog
        +e.item
            +merch_preview(item)
