+b.discountbanner
    +object_fit({src:'images/discounts.jpg',lazy:true})
    +e.content
        +e.H2.title Скидки и акции
        +e.link
            +btn({title:'перейти в раздел',mod:'_white',href:"stock.html"})
