+b('section').account
    +e.container
        +b.account-form
            +e.P.text.p3b Новый пароль был выслан на указанный e-mail! 
            +e.wrapper
                +e.item
                    +btn({title:"ВОЙТИ С НОВЫМ ПАРОЛЕМ",data:{"target":"auth"},mod:"js-call-popup"})
                +e.item._btn
                    +btn({title:"вернуться назад",mod:"_transparent",href:"#"})