+b('section').account
    +e.container
        +b.FORM.account-form.js-form-adjuster
            +e.title-wrap
                h2 Забыли пароль?
                +e.P.text.p3b Напишите ваш e-mail, чтобы мы могли выслать вам инструкцию для восстановления
            +e.wrapper
                +e.item
                    +input({name:"email",label:"E-mail*",mod:"required usermail",mod_wrap:"_black",label_small:true})
                +e.item
                    +btn({title:"Получить новый пароль",button:true})
                +e.item._btn
                    +btn({title:"вернуться назад",mod:"_transparent",href:"#"})