-
    search_string = "рюкзак",
    full = true

+b.search-result
    +e.top
        +e.H2.title=`поиск-${search_string}`
        +e.P.search-count.p2 Найдено 126 товаров
    +e.body
        include catalog-body