+b('section').text-section
    +e.icon-wrapper
        +e.icon-img(src="images/svg/backpack.svg",alt="Иконка рюкзака")
        
    .text-block
        p Мы работаем в соответствии с Законом «О защите прав потребителей» РФ и гарантируем возврат или обмен товара ненадлежащего и надлежащего качества в течение оговоренных законом сроков.
        ul
            li в течение 7 (семи) дней с мом ента получения, в соответствии со ст. 26.1 Закона «О защите прав потребителей»;
            li если товар и упаковка (этикетка) обладают первоначальным видом;
            li должны быть сохранены товарный вид и потребительские свойства товара;
        p Невозможно осуществить возврат или обмен товара, бывшего в эксплуатации
        p В случаях возврата/обмена товара надлежащего качества, все расходы на обратную транспортивку товара и повторную отправку (в случае обмена) оплачиваются покупателем.
        p Порядок возврата товара:
        ul
            li Вы заполняете заявку на этой странице и отправляете запрос на возврат;
            li После подтверждения нами данной заявки, Вы высылаете товар на фактический адрес магазина (см.раздел О нас - Юридическая информация);
            li Мы получаем товар и оцениваем его состояние;
            li Если товар надлежащего качества - в течение 3-х* календарных дней мы возвращаем денежные средства, в размере уплаченной за товар суммы / высылаем другой аналогичный товар (в случае обмена), при условии 100% оплаты покупателем стоимости повторной отправки;
            li Если товар ненадлежащего качества - возвращаем его обратно исключительно за счет покупателя. Товары, поврежденные по вине покупателя, возврату или обмену не подлежат.
        p Возврат переведенных средств, производится на Ваш банковский счет в течение 5-30 рабочих дней (срок зависит от Банка, который выдал Вашу банковскую карту).
        p Также обращаем Ваше внимание на то, что несоответствие цвета товара Вашим ожиданиям — не является ошибкой нашего магазина. Мы не можем гарантировать 100% совпадение цвета товара на фотокарточке, отображаемой на Вашем мониторе, с цветом реального товара.