.blog-list-module {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 -10px;
    &__item {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        color: $black;
        background-color: #f2f2f2;
        transition: 0.3s ease;
        width: calc(100% / 3 - 20px);
        margin: 20px 10px 0;
        &:first-child {
            flex-direction: row;
            width: calc(100% / 3 * 2 - 20px);
            .object-fit-wrap {
                min-height: 100%;
                &:after {
                    padding-top: 90.67%;
                }
            }
        }
        &:nth-of-type(-n + 2) {
            margin-top: 0;
        }
        &:hover {
            background-color: #e0e0e0;
            .object-fit-wrap {
                filter: grayscale(0);
            }
        }
    }
    &__item:first-child & {
        &__col {
            width: 50%;
            height: 100%;
            &_img {
                width: calc(50% - 10px);
                min-height: 100%;
            }
            &_content {
                justify-content: center;
                width: calc(50% + 10px);
                height: 100%;
                padding: 57px;
            }
        }
        &__wrapper {
            display: block;
            flex: none;
        }
        &__title {
            margin-top: 14px;
        }
    }
    &__col {
        width: 100%;
        &_content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            flex: 1 0 auto;
            padding: 36px 49px;
        }
    }
    .object-fit-wrap {
        transition: filter 0.3s ease;
        filter: grayscale(100%);
        &:after {
            padding-top: 46.86%;
        }
        &:before {
            content: "";
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            display: block;
            background-color: rgba(0, 0, 0, 0.05);
            width: 100%;
            height: 100%;
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
        flex: 1 0 auto;
    }
    &__date,
    &__text {
        color: #5c5c5c;
    }
    &__title {
        margin-top: 9px;
    }
    &__text {
        margin-top: 14px;
    }
    @include media_1500 {
        margin: 0 -7px;
        &__item {
            width: calc(100% / 3 - 14px);
            margin: 14px 7px 0;
            &:first-child {
                width: calc(100% / 3 * 2 - 14px);
            }
        }
        &__col {
            &_content {
                padding: 24px 33px;
            }
        }
        &__title {
            margin-top: 6px;
        }
        &__text {
            margin-top: 7px;
        }
        &__item:first-child & {
            &__col {
                &_img {
                    width: calc(50.3% - 10px);
                }
                &_content {
                    width: calc(49.7% - 10px);
                    padding: 34px;
                }
            }
            &__title {
                margin-top: 7px;
            }
            &__text {
                margin-top: 17px;
            }
        }
    }
    @include media_1200 {
        margin: 0 -5px;
        &__item {
            width: calc(100% / 3 - 10px);
            margin: 10px 5px 0;
            &:first-child {
                width: calc(100% / 3 * 2 - 10px);
                .object-fit-wrap {
                    &:after {
                        padding-top: 86.67%;
                    }
                }
            }
        }
        .object-fit-wrap {
            &:after {
                padding-top: 44.85%;
            }
        }
        &__col {
            &_content {
                padding: 17px 28px 24px;
            }
        }
        &__text {
            display: none;
        }
        &__item:first-child & {
            &__col {
                &_img {
                    width: calc(50.8% - 10px);
                }
                &_content {
                    justify-content: flex-end;
                    width: calc(49.2% - 10px);
                    padding: 34px 36px;
                }
            }
        }
    }
    @include media_900 {
        &__item {
            width: calc(50% - 10px);
            margin-top: 10px;
            &:nth-of-type(-n + 2) {
                margin-top: 10px;
            }
            &:first-child {
                width: 100%;
                margin-top: 0;
                .object-fit-wrap {
                    &:after {
                        padding-top: 82.6%;
                    }
                }
            }
        }
        .object-fit-wrap {
            &:after {
                padding-top: 41.8%;
            }
        }
        &__col {
            &_content {
                padding: 31px 47px 32px;
            }
        }
        &__item:first-child & {
            &__col {
                &_content {
                    justify-content: center;
                    padding: 33px 57px 34px;
                }
            }
        }
    }
    @include media_900 {
        &__item {
            width: 100%;
            &:first-child {
                flex-direction: column;
                .object-fit-wrap {
                    &:after {
                        padding-top: 71.6%;
                    }
                }
            }
        }
        .object-fit-wrap {
            &:after {
                padding-top: 46%;
            }
        }
        &__col {
            &_content {
                padding: 22px 34px 22px;
            }
        }
        &__title {
            margin-top: 9px;
        }
        &__item:first-child & {
            &__col {
                width: 100%;
                height: auto;
                min-height: 0;
                &_content {
                    padding: 25px 34px 30px;
                }
            }
            &__title {
                margin-top: 9px;
            }
        }
    }
}
