.facts {
    position: relative;
    background-color: $gray3;
    padding: 48px 0 0;
    &__title {
        text-align: center;
    }
    .facts-list {
        margin-top: 49px;
        padding-bottom: 63px;
    }
    @include media_1500 {
        padding-top: 46px;
        .facts-list {
            margin-top: 37px;
            padding-bottom: 65px;
        }
    }
    @include media_1200 {
        .facts-list {
            margin-top: 42px;
        }
    }
    @include media_900 {
        padding-top: 31px;
        padding-bottom: 36px;
        &__title {
            display: none;
        }
        .facts-list {
            padding: 0 3px;
            margin-top: 0;
        }
    }
    @include media_550 {
        padding-top: 50px;
        padding-bottom: 43px;
        .facts-list {
            padding: 0 35px;
        }
    }
}
.facts-list {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 78%;
    padding: 0 109px;
    margin: 0 auto;
    &:after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        display: block;
        background: url("../images/lamp.png") no-repeat center;
        background-size: 100%;
        width: 193px;
        height: 410px;
    }
    &__item {
        width: calc(100% / 4 - 20px);
        margin: 0 10px;
        padding-right: 20px;
    }
    &__separator {
        display: block;
        background-color: $gray2;
        width: 100%;
        max-width: 110px;
        height: 1px;
        margin: 5px 0 23px;
    }
    @include media_1500 {
        width: 82%;
        padding: 0 63px;
        &:after {
            width: 175px;
            height: 372px;
        }
        &__separator {
            max-width: 74px;
            margin: 5px 0 12px;
        }
    }
    @include media_1200 {
        width: 100%;
        padding: 0 43px;
    }
    @include media_900 {
        position: static;
        flex-direction: column;
        justify-content: flex-start;
        width: calc(100% / 6 * 4);
        &:after {
            width: 202px;
            height: 429px;
        }
        &__item {
            width: 100%;
            margin: 0 auto 21px;
            padding-right: 128px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__separator {
            max-width: 70px;
            margin: 11px 0 10px;
        }
    }
    @include media_550 {
        width: 100%;
        &:after {
            background-image: url("../images/lamp-small.png");
            top: -23px;
            right: 0;
            width: 121px;
            height: 260px;
        }
        &__item {
            padding-right: 15px;
            margin-bottom: 29px;
        }
    }
}
