extends ../layout

block variables
    -
        main = true

block content
    include ../modules/mainslider
    include ../modules/category-showcase
    include ../modules/novelty
    include ../modules/discountbanner
    include ../modules/advantages
    include ../modules/blog-list-module
