extends ../layout
block content
    .container
        h1 h1
        h2 h2
        h3 h3
        h4 h4
        h5 h5

        .b1 b1
        .b2 b2

        .p1 p1
        .p2 p2
        .p3 p3
        .p4 p4
        .p5 p5

        .p1b p1*
        .p2b p2*
        .p3b p3*
        .p4b p4*
        .p5b p5*
        
        div
            +btn({title:'быстрый просмотр'})
        div    
            +btn({title:'СМОТРЕТЬ ВСЕ АКЦИИ',mod:'_small'})
        div    
            +btn({title:'Перейти в раздел',mod:'_white'})
        div
            +btn({title:'Войти',mod:'_bordered'})
        div
            +input({name:"name",label:"Имя*",mod:"required"})