// colors
$white: #fff;
$black: #282828;
$green: #27ae60;
$orange: #f2994a;
$red: #eb5757;
$gray: #828282;
$gray2: #5c5c5c;
$gray3: #f2f2f2;
$gray4: #e0e0e0;
$gray5: #ababab;

// fonts
$bebas: "Bebas Neue";
$montserrat: Montserrat;
$ico-font: "icomoon";

// property
$transition: 0.3s ease;
